<?xml version='1.0' encoding='utf-8'?>
<plugin id="outsystems-plugin-addroundiconattribute" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Add Round Icon Attribute</name>
    <name>Round Icon</name>
    <description>Adds the android:roundIcon attribute to the application tag in AndroidManifest.xml</description>
    <author>OutSystems Native Experts</author>

    <platform name="android">
        <hook src="scripts/addRoundIcon.js" type="after_prepare" />
        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:roundIcon="@mipmap/ic_launcher_round" />
        </edit-config>
    </platform>
</plugin>
